* {box-sizing: border-box}

main {
    background-color: #fff8e0;
}

body {
    background-color: #fff8e0;
}
nav {
    background-color: #3f8145;
}
@media only screen and (min-width: 600px) {
header span {

    display: flex;

}
header span img {
    margin-top: .5rem;
}
header span h1 {
    margin-top: .9rem ;
    margin-bottom:1rem ;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
nav a {
    display: flex;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
}
nav .active a {
    background-color: #8C501B;
    color: white;
    background-image: linear-gradient(to bottom, #3f8145, #8b5022);
    border-radius: .5rem;
}
nav a:hover {
    background-color: #222;
}
}
@media only screen and (max-width: 600px) {
nav ul{
    margin: 0;
    padding: 0;
}
nav a{
    display: block;
    text-align: center;
    padding: .8rem;
    color: #fff8e0;
    text-decoration: none;
    border-bottom: solid 1px darkgreen;
    font-weight: 700;
    text-transform: uppercase;
}
nav .active a {
    background-color: #8C501B;
    color: white;
    background-image: linear-gradient(to bottom, #3f8145, #663b19);
}
nav a:hover {
    color: #000;
}
}
.map p{
    text-align: center;
    font-size: 1.2rem;
}
.myForm fieldset{
    border: 2px solid green;
    border-radius: 3px;
    margin-bottom: 1rem;

}
.myForm legend {
    color: goldenrod;
    font-size: .8rem;
}
.myForm label {
    margin: .5rem;
}
.myForm label,.myForm select,.myForm [type=text],.myForm [type=tel],.myForm textarea,.myForm [type=email]{
display: block;

}
.myForm select,.myForm [type=text],.myForm [type=tel],.myForm textarea,.myForm [type=email]{
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
}
.myForm textarea{
    height: 6rem;
    color: #112911;
    font-size: large;
}
.myForm :required{
    background-color: rgba(156, 51, 53, 0.1);
}
.myForm [type=submit]{
   background-color: goldenrod;
    border: solid 1px #443300;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 .5rem;
}
  .galleryTeto {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
footer {
     background-color: #fff8e0;
}
.hero{
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
    border: red;
    border-width: 5px;
    display: block;
    margin-left: auto;
    margin-right:auto ;
    width: 70%;
    height: auto;
    margin-bottom: .5rem;
}