* {box-sizing: border-box}

main {
    background-color: #464646;
}

body {
    background-color: #464646;
}
nav {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #2a95ec;
}
@media only screen and (min-width: 600px) {
    header {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
    }
header span {

    display: flex;

}
header img {
    width: 2.5%;
    height: 2.5%;
    margin-top: .5rem;
    margin-bottom:1rem ;
    margin-right:.5rem ;
}
header span h1 {
    color: rgb(255, 255, 255);
    margin-top: 1.2rem ;

}
header h2 {
    color: white;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-left: 40rem;
    list-style-type: none;
    display: flex;
}
nav a {
    display: flex;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
}
nav .active a {
    background-color: #2d7ab9;
    color: white;
    background-image: linear-gradient(to bottom, #2a95ec, #2e5d79);
    border-radius: .5rem;
}
nav a:hover {
    background-color: #2d7ab9;
    border-radius: .5rem;
}
.hero{
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
    border: red;
    border-width: 5px;
    display: block;
    margin-left: auto;
    margin-right:auto ;
    width: 40%;
    height: auto;
    margin-bottom: .5rem;
    border-radius: 1rem;
}
body h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 3rem;
}
body h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
body h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 2rem;
}
body p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 40rem;
    padding-right: 40rem;
}
.myForm [type=submit]{
    
    margin-left: 68.70rem;
    margin-bottom: 3rem;
   background-color: rgb(77, 180, 228);
    border: solid 1px #443300;
    padding: 1.5rem 2.5rem;
    border-radius: 20px;
    color: white;
    font-size: 2rem;
}
.packages img {
    display: block;
    width: 40rem;
    height: 25rem;         
    overflow: hidden;
    border-radius: 1rem;
    margin: 2rem auto;
}
.destGallery img {
    width: 40rem;
    height: 25rem;         
    overflow: hidden;
    border-radius: 1rem;
}
iframe {
    display: block;
    margin: 2rem auto;
    
}
}
@media only screen and (max-width: 600px) {
nav ul{
    margin: 0;
    padding: 0;
}
nav a{
    display: block;
    text-align: center;
    padding: .8rem;
    color: #fff8e0;
    text-decoration: none;
    border: solid 1px rgb(0, 0, 0);
    font-weight: 700;
    text-transform: uppercase;
}
nav .active a {
    color: white;
   background-image: linear-gradient(to bottom, #2a95ec, #2e5d79);
}
body h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 3rem;
}
body h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
body h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 2rem;
}
body p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    
}
.hero{
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
    border: red;
    border-width: 5px;
    display: block;
    margin-left: auto;
    margin-right:auto ;
    width: 100%;
    height: auto;
    margin-bottom: .5rem;
    border-radius: 1rem;
}
.myForm [type=submit]{
    margin-left: 4.5rem;
    margin-bottom: 3rem;
   background-color: rgb(77, 180, 228);
    border: solid 1px #443300;
    padding: 1.5rem 2.5rem;
    border-radius: 20px;
    color: white;
    font-size: 2rem;
}
nav a:hover {
    color: #000;
}
.packages img {
    display: block;
    width: 30rem;
    height: 25rem;         
    overflow: hidden;
    border-radius: 1rem;
    margin: 2rem auto;
}
.destGallery img {
    width: 30rem;
    height: 25rem;         
    overflow: hidden;
    border-radius: 1rem;
}
iframe {
    display: block;
    margin: 2rem auto;
    
    
}
}
.map p{
    text-align: center;
    font-size: 1.2rem;
}
.myForm fieldset{
    border: none;
    text-align: center;

}
.myForm legend {
    color: rgb(90, 168, 240);
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.myForm label {
    color: white;
    margin: .5rem;
}
.myForm label,.myForm select,.myForm [type=text],.myForm [type=tel],.myForm textarea,.myForm [type=email]{
display: block;
font-size: 1.5rem;
}
.myForm select,.myForm [type=text],.myForm [type=tel],.myForm textarea,.myForm [type=email]{
    margin: 1.25rem auto;
    border-collapse: collapse;
    width: 300px;
    height: 40px;
    border-radius: .3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}
.myForm textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 6rem;
    color: #ffffff;
    font-size: 2rem;
}
.myForm :required{
    background-color: rgb(255, 159, 160);
}
  .galleryTeto {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: #636363;
     color: white;
}
.contact {
    display: block;
    text-align: center;
    background-color: #fff1c6;
    padding-bottom:1rem ;
}
.contact h1 {
    background-color: #fde7a3;
    font-size: 3rem;
    
    
}
.contact h3 {
    
    font-size: 2rem;
}
.contact a{
    
    font-size: 1.5rem;
    
}
.video {
    display: block;
    text-align: center;
    background-color: #fff1c6;
    padding-bottom:1rem ;
}
.video h1 {
    font-size: 3rem;
    background-color: #fde7a3;
}
.video h3 {
    
    font-size: 2rem;
}
hr {
     border: none;
    height: 2px;
    width: 70%;
    margin: 2.5rem auto;
    background: linear-gradient(
        to right,
        transparent,
        rgba(23, 174, 212, 0.8),
        transparent);
}
.destGallery {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
} 
.destGallery section {
    flex-basis: 50%;
    margin: 2rem 0;
    
}
.destGallery span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    display: block;
    text-align: center; 
    font-weight: 700;
    color: #ffffff;
    margin-top: 2.5rem;
}
.destGallery img:hover {
    box-shadow: 0px 0px 10 rgba(0, 0, 0, 5);
    border: red;
    border-width: 5px;
}
.packages a {
    display: block;
   font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 175, 245);
    text-align: center;
    font-size: 2.25rem; 
}